#welcome-section {
  background-image: url("https://www.norway-travel.com/upload/Winfried-Rosen-Hurtigruten2-edit1-943x0.jpg");
  /* Set a specific height */
  height: 100vh;
  text-align: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome-text{
  color: #fefefe;
  text-shadow: 2px 2px 2px #0a0a0a;
}
i{margin-right: 3px;}
.color{
  background-color: #1b242f;
  margin-bottom:10px;
  width: 100%;
}
#projects{
    padding-top: 60px;
    margin-top: 20px;
    background-color:#1b242f;;
}
header h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #0a0a0a;
    padding-bottom: 20px;
}
.project-pic{
    width: 100%;
    height: 380px;
    border-bottom: 2px solid;
}
.project-tile {
    font-weight: bold;
    text-align: center;
}
.project{
  text-decoration: none;
  color:white;
  display: inline-block;
  overflow: hidden;
  border: 2px solid black;
  height: 420px;
  width: 480px;
  margin: 50px 50px;
}
@media screen and (max-width: 450px) {
  .project{
    height: 420px !important;
    width: 310px !important;
    margin: 50px 10px !important;
  }
}

#Contact_me {
  padding-top: 60px;
  background: #1b242f;;
  padding-bottom:20px;
  color: white;
}
#Contact_me h2,h5{
  color: white;
  text-align: center;
}
#Contact_me a{
  margin-left: 12%;
  align-items: center;
  color: #1d1e22;
}
.buttons{
  padding-top: 50px;
}
body,footer{
  background-color:white;
  color: black;
}
.col-md-6 p {
  width: 40%;
  margin:0 auto;
  padding-top: 10px;
}
footer{
  padding: 10px;
}
footer p{
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}
@media (max-width: 600px) 
{
  footer
   {
    padding-bottom: 5px;
   }
}
.card-title{
  color: black !important;
}

html, body {
  margin: 0; padding: 0;
}
.hero-bkg-animated {
  background: gray url(https://thumbs.gfycat.com/AnnualEnviousDartfrog-size_restricted.gif) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation:  linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.foto{
  width :30%;
  margin: 0 auto;
}